.line {
  fill: none;
  stroke: rgb(121, 171, 211);
  stroke-width: 2px;
}

body {
  background: white !important;
}
#chart {
  background: #0b3d55;
  color: #bdc3ca;
  margin: 8px;
}
#chart1 {
  background: #0b3d55;
  color: #c1c9d3;
  padding: 2px;
  margin: 8px;
  height: 50px;

}
.button{
  float: right;
  color: #c1c9d3!important;
}

.jumbotron{
  background: #0b3d55!important;
  color: #c1c9d3;
}